<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LearnWithMentor</title>
</head>
<body>
    <h1 style="text-align:center; margin: 50px 0 30px 0;">Welcome to LearnWithMentor project!</h1>
    <div style="text-align:center;  margin: 0 auto;">
        <a href="~/swagger"
           style="display:block;height:30px;width:200px;margin:0 auto;background-color:#89bf04;
           color:white;padding:10px;text-align:center;align-self:center;text-decoration:none;
           border-radius:10px;font-weight:bold;font-size:larger">Go to Swagger</a>
    </div>
</body>
</html>
