<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LearnWithMentor</title>
</head>
<body>
    <div style="margin:60px 140px 60px 140px; padding:60px; background-color:black">
        <h1 style="text-align:center;margin-bottom:60px;color:white; 
            font-family:'Arial Black', Gadget, sans-serif;">Welcome to LearnWithMentor project!</h1>
        <div style="text-align:center;margin:0 auto;">
            <a href="~/swagger"
               style="display:block;height:30px;width:200px;margin:0 auto;background-color:#89bf04;
               color:white;padding:10px;text-align:center;align-self:center;text-decoration:none;
               border-radius:10px;font-weight:bold;font-size:larger;font-family:'Arial Black', Gadget, sans-serif;">Go to Swagger</a>
        </div>
    </div>
</body>
</html>
